nav a{
	text-align: center;
	color: #FFFFFF;
	background: #0000FF;
	display: inline-block;
	width: 20%;
	margin-right: 2%;
}

.current{
	color: #000000;
	background: #0FFF00;
	text-transform: uppercase;
}

p{
  color: red;
  padding:10px 5px;
  background: black;
}
.fancy{
  font-family: cursive;
  background: red;
  color: green;
}
.plain{
  font-family: Times, serif;
  color: black;
}